.slide {
  width: max-content !important;
  border-radius: 1rem;
  margin: auto;
  display: block;
}

.slider {
  max-width: 115rem;
  width: 100%;
  margin-right: -23rem;
}

@media screen and (max-width: 1024px) {
  .slider {
    margin: 2rem auto 0 auto;
  }
}