$body_background_dark: #040327;
$color_white: #fff;

$space: #0B1E8A;
$space-light: #3D68B2;
$space-dark: #040327;
$space-darker: #0E0D40;

$mars: #E85937;
$mars-light: #FF8C70;
$mars-dark: #CF3F1D;

$gray-01: #0D0E13;
$gray-02: #2C2D3A;
$gray-03: #60616F;
$gray-04: #898A93;
$gray-05: #D5D5DB;

$uranus: #24FFE9;
$sun: #F5D15F;
$jupiter: #E00E34;
$earth: #0FDD86;
$saturn: #554AD7;

$layout_width: 190rem;